{{#each list}}
  {{#if thumbnail}}
    <li class="item has-thumbnail col-md-4 col-sm-6 col-xs-12" style="background-image: url({{thumbnail}})">
      <h3><a href="{{link}}">{{title}}</a></h3>
    </li>
  {{else}}
    <li class="item no-thumbnail col-md-4 col-sm-6 col-xs-12">
      <h3><a href="{{link}}">{{title}}</a></h3>
      <article>{{description}}</article>
    </li>
  {{/if}}
{{/each}}